PORT = 3000
MONGODB_URI = Your_MongoDB_URI_here
JWT_SECRET = Your_JWT_Secret_Here

EMAIL_USER= Your_Email_Address_Here
SENDER_EMAIL = Your_Sender_Email_Here
EMAIL_PASS= Your_Email_Password_Here

CLOUDINARY_CLOUD_NAME = Your_Cloudinary_Cloud_Name_Here
CLOUDINARY_API_KEY = Your_Cloudinary_API_Key_Here
CLOUDINARY_API_SECRET = Your_Cloudinary_API_Secret_Here

RAZORPAY_KEY_ID= Your_Razorpay_Key_ID_Here
RAZORPAY_KEY_SECRET= Your_Razorpay_Key_Secret_Here